<div class="container">
    <h1 class="text-center">IELTS Speaking Questions</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" aria-selected="true">Part 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" aria-selected="false">Part 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" aria-selected="false">Part 3</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
            <div class="row">
                <div class="col-md-3">
                    <h5>Categories</h5>
                    <div class="list-group">
                        {% for category, questions in part1_grouped.items() %}
                        <a class="list-group-item list-group-item-action {% if category == current_category %}active{% endif %}" href="/?category={{ category }}&part=1">
                            {{ category }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    <h5>Questions</h5>
                    {% for question in part1_questions %}
                    <div class="card card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <form action="/submit_answer" method="post">
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <input type="hidden" name="part" value="1">
                            <div class="form-group">
                                <label for="keywords{{ question.id }}">Enter Keywords:</label>
                                <input type="text" class="form-control" id="keywords{{ question.id }}" name="keywords" placeholder="Enter keywords" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Answer</button>
                        </form>
                    </div>
                    {% endfor %}
                    <!-- Pagination -->
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-secondary {% if current_part == 1 %}disabled{% endif %}" href="/?category={{ current_category }}&part={{ current_part - 1 }}">Previous Page</a>
                        <a class="btn btn-secondary {% if part1_questions|length <= part1_questions_to_display|length %}disabled{% endif %}" href="/?category={{ current_category }}&part={{ current_part + 1 }}">Next Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="part2" role="tabpanel" aria-labelledby="part2-tab">
            <h5>Part 2 Questions</h5>
            <div class="row">
                <div class="col-md-3">
                    <h5>Categories</h5>
                    <div class="list-group">
                        {% for category, questions in part2_grouped.items() %}
                        <a class="list-group-item list-group-item-action {% if category == current_category %}active{% endif %}" href="/?category={{ category }}&part=2">{{ category }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    <h5>Questions</h5>
                    {% for question in part2_questions %}
                    <div class="card card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <form action="/submit_answer" method="post">
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <input type="hidden" name="part" value="2">
                            <div class="form-group">
                                <label for="keywordsPart2{{ question.id }}">Enter Keywords:</label>
                                <input type="text" class="form-control" id="keywordsPart2{{ question.id }}" name="keywords" placeholder="Enter keywords" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Answer</button>
                        </form>
                    </div>
                    {% endfor %}
                    <!-- Pagination for Part 2 -->
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-secondary {% if current_part == 1 %}disabled{% endif %}" href="/?category={{ current_category }}&part=2&page={{ current_part - 1 }}">Previous Page</a>
                        <a class="btn btn-secondary {% if part2_questions|length <= part2_questions_to_display|length %}disabled{% endif %}" href="/?category={{ current_category }}&part=2&page={{ current_part + 1 }}">Next Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="part3" role="tabpanel" aria-labelledby="part3-tab">
            <h5>Part 3 Questions</h5>
            <div class="row">
                <div class="col-md-3">
                    <h5>Categories</h5>
                    <div class="list-group">
                        {% for category, questions in part3_grouped.items() %}
                        <a class="list-group-item list-group-item-action {% if category == current_category %}active{% endif %}" href="/?category={{ category }}&part=3">{{ category }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    <h5>Questions</h5>
                    {% for question in part3_questions %}
                    <div class="card card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <form action="/submit_answer" method="post">
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <input type="hidden" name="part" value="3">
                            <div class="form-group">
                                <label for="keywordsPart3{{ question.id }}">Enter Keywords:</label>
                                <input type="text" class="form-control" id="keywordsPart3{{ question.id }}" name="keywords" placeholder="Enter keywords" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Answer</button>
                        </form>
                    </div>
                    {% endfor %}
                    <!-- Pagination for Part 3 -->
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-secondary {% if current_part == 1 %}disabled{% endif %}" href="/?category={{ current_category }}&part=3&page={{ current_part - 1 }}">Previous Page</a>
                        <a class="btn btn-secondary {% if part3_questions|length <= part3_questions_to_display|length %}disabled{% endif %}" href="/?category={{ current_category }}&part=3&page={{ current_part + 1 }}">Next Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>